
// colors
$grey: #ECECEC;

$primary: rgb(125, 223, 100);
$secondary: rgb(90, 169, 230);
$dark-blue: rgb(27, 38, 79);
$light-blue: rgb(39, 70, 144);
$dark-brown: rgb(48, 43, 39);

$column-background: $grey

//drop-shadow
